body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.clothing-item {
  float: left;
  padding: 3%;
  margin: 2%;
  background-color: aquamarine;
}

.clothing-container {
  padding-top: 10%;
  margin: auto;
  width: 80%;
  position: absolute;
}

.cart {
  color: blue;
  float: left;
  position: relative;
}