body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  padding: 3%;
  background-color: lightblue;
  color: black;
}

.nav-item {
  
  font-size: 25px;
  font-weight: 700;
  padding: 1%;
  margin:3%;
  text-decoration: none;
  color: white;
}
#main-nav {
  background-color: rgb(134, 196, 216);
}

.nav-item:visited {
  padding: 5%;
  text-decoration: none;
  color: white;
}

.clothing-item {
  float: left;
  padding: 3%;
  margin: 2%;
  background-color: lightblue;
}

.clothing-container {
  padding-top: 5%;
  margin: auto;
  width: 80%;
  position: absolute;
}

.cart {
  color: blue;
  float: left;
  position: relative;
}