#root {
  margin: 0%;
  font-family: 'DM Sans', sans-serif;
}

.navbar {
  padding: 3%;
  background-color: lightblue;
  color: black;
}

.nav-item {  
  font-size: 25px;
  font-weight: 700;
  padding: 1%;
  margin:3%;
  text-decoration: none;
  color: white;
}

.active-item {
  font-size: 25px;
  font-weight: 700;
  padding: 1%;
  margin:3%;
  text-decoration: none;
  color: white;
  background-color: rgb(134, 196, 216);
}

.funds {
  float: right;
  color: rgb(92, 159, 86);
  background-color: rgb(190, 233, 190);
  font-weight: 700;
  padding: 7px;
  font-size: 25px;
  margin-top: 0px;
  border-radius: 10px;
}

.nav-item:visited {
  padding: 5%;
  text-decoration: none;
  color: white;
}

.clothing-item h3 {
  width: 70%;
  height: 50px;
}

.clothing-pic {
  width: 80px;
  height:70px;
}

.line {
  background-color: rgb(207, 164, 107);
  height: 5px;
  margin: 0px;
  margin-top:100px;
}

.entire-item {
  float: left;
  margin-left: 2%;
  margin-right: 2%;
  background-color: lightblue;
  font-size: x-small;
  width: 14%;
  padding: 1%;
  margin: 2%;
  margin-top: 0px;
}

#checkout-button {
  float: right;
  margin: 5%;
  color: green;
  font-size: x-large;
}

#insufficient-funds {
  color: black;
  border-radius: 20px;
  width: 50%;
  float: right;
  font-size: 15px;
  padding: 10px;
}

.cart-item {
  margin: 5%;
  height: 10%;
  width: 30%;
  background-color: pink;
  font-size: smaller;
  padding: 5%;
}


.clothing-category {
  float: right;
  font-size: 15px;
}

#cart-message {
  color: green;
}

.clothing-container {
  padding-top: 0%;
  width: 100%;
}



.cart {
  color: black;
  margin-left: 3%;
}